# node modules
node_modules/

# build artifacts
main.js
main.js.map
dist/
build/
data.json
# TypeScript
src/**/*.js
src/**/*.js.map

# editor settings
.vscode/
.idea/

# operating system files
.DS_Store
Thumbs.db

# other
metadata.json
.env.example
docs/
plugin-repo/
